body{
    background-color: black;
    color: white;
}

header{
    text-align: center;
}

#mainlogo {
    padding: 50px;
    display: block;
    max-width: 60%;
    height: auto;
    margin: 0 auto; /* Centers the logo horizontally */
  }

a{
    font-size: 45px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

footer {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

@media screen and (min-width: 768px) {
    /* Styles for desktop resolutions */
    #mainlogo {
      max-width: 15%;
    }
  }